* {
  margin: 0;
  padding: 0;
}

.text-red {
  color: tomato;
}

.text-green {
  color: #09d809;
}

.text-white {
  color: #fff;
}

header,
footer {
  background-color: #000;
  text-align: center;
  padding: 30px 0;
}

.game-image {
  width: 50%;
}

.game-title {
  font-size: 24px;
}

.game-description {
  text-align: right;
  direction: rtl;
}

.game-rank {
  font-weight: bold;
  background: rgb(228, 227, 227);
  border: 1px gray solid;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
}

.game-card {
  text-align: center;
  border: 2px black solid;
  border-radius: 25px;
  padding: 20px 20px;
  margin: 40px 10%;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: #ff9100;
}

a:hover {
  color: #a6ff00;
}